
.vocaloid-card {
width: 350px;
background-color: rgb(44, 44, 44);
box-shadow: -1px -1px 2px black;
justify-content: space-between;
margin-top: 10px;

}
.image-vocaloid {
    height: 200px;
    
}

#vocaloid-cont {
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}